body {
    font-family: 'Poppins', sans-serif !important;
    background-color: #f5fcff;
}
body h1{
    font-size: 3rem;
}

.destination {
    overflow: hidden;
    padding-left: 0px;
    border: 4px solid #ffffff !important;
}

.destination img{
    width: 500px;
    height: 100%;
}

.destination h2{
    font-weight: 850;
}

.timeBox{
    border: 4.5px solid #ffffff !important;
    width: 6rem;
    height: 4rem;
    background-color: transparent;
}

.timeBoxBody{
    padding: 0.9rem !important;
    background-color: rgba(0,123,255, 0.2);
}

.headerStyle {
    background-color: #3d9de2;
}

.headerStyle a{
    text-decoration: none;
}

.headerStyle ul{
    padding-top: .3125rem;
    
}

.headerStyle li{
    padding-bottom: 0.5rem;
}

.headerStyle div{
    align-items: center;
}

.headerStyle .logoText{
    font-weight: 650;
    padding-bottom: 0.5rem;
}

.headerStyle .button{
    color: #6c757d;
    padding-right: 1rem;
}

.timeNav ol{
    background-color: #cee9fc;
}

.timetable{
    height: 100%;
    background-size: 120% 120%;
}

.pricing{
    background-color: #cee9fc !important;
}

.pricing table{
    background-color: #cee9fc !important;
}
.pricing th{
    border-top: 1px solid #121213 !important;
}
.pricing thead th{
    border-bottom: 2px solid #121213 !important;
}

