body {
    font-family: 'Poppins', sans-serif !important;
    background-color: #f5fcff;
}
body h1{
    font-size: 3rem;
}

.destination {
    overflow: hidden;
    padding-left: 0px;
    border: 4px solid #ffffff !important;
}

.destination img{
    width: 500px;
    height: 100%;
}

.destination h2{
    font-weight: 850;
}

.timeBox{
    border: 4.5px solid #ffffff !important;
    width: 6rem;
    height: 4rem;
    background-color: transparent;
}

.timeBoxBody{
    padding: 0.9rem !important;
    background-color: rgba(0,123,255, 0.2);
}

.headerStyle h1{
    font-weight: 650;
}

.timeNav ol{
    background-color: #cee9fc;
}

.timetable{
    height: 30rem;
    background-size: 120% 120%;
}