body {
    font-family: 'Poppins', sans-serif !important;
}

.destination {
    overflow: hidden;
    padding-left: 0px;
    border: 3px solid #dee2e6 !important;
}

.destination img{
    width: 500px;
    height: 100%;
}

.destination h4{
    font-weight: 650;
}

.timeBox{
    border: 3px solid #dee2e6 !important;
    width: 6rem;
    height: 4rem;
}

.timeBoxBody{
    padding: 0.9rem !important;
}

.headerStyle h1{
    font-weight: 650;
}